<template>
   <!-- Page header with logo and tagline-->
  <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
          <div class="text-center my-5">
              <h1 class="fw-bolder">About</h1>
          </div>
      </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="">
      <h4>Vue Js Demo</h4>
      <hr>
      Ini adalah aplikasi demo, menggunakan framework Vue Js dengan beberapa tambahan package pendukung.
      <ul>
        <li>Framework <a href="https://vuejs.org/" target="_blank">Vue Js 3 CLI</a></li>
        <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap Theme 5</a></li>
        <li><a href="https://github.com/lokyoung/vuejs-paginate" target="_blank">Vue Js Paginate</a></li>
        <li><a href="https://github.com/typicode/json-server" target="_blank">Json Server</a> sebagai penyedia API</li>
      </ul>
      <hr>
      <h4>Kontak</h4>
      <p>Lukman El Hakim | <a href="mailto: ell.hakimz@gmail.com">ell.hakimz@gmail.com</a></p>
    </div>
  </div>
</template>
