<style>
.avat {
  border-radius: 2em;
  border-width: 2px;
  border: 1px solid #ccc;
}

.extend_handle {
  width: 30px !important;
  height: 30px !important;
}
</style>
<template>
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Family Tree</h1>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <TreeChart :json="treeData" @click-node="clickNode" />
  </div>
</template>

<script>
import { ref } from "vue";
import TreeChart from "vue-tree-chart-3";

export default {
  components: {
    TreeChart,
  },
  setup() {
    const treeData = ref({
      id: 1,
      name: "root",
      image_url: "https://static.refined-x.com/static/avatar.jpg",
      class: ["rootNodesss"],
      mate: [
        {
          id: 12,
          name: "mate",
          description: "cek",
          image_url: "https://static.refined-x.com/static/avatar.jpg",
        },
      ],
      children: [
        {
          id: 13,
          name: "children1",
          image_url: "https://static.refined-x.com/static/avatar.jpg",
        },
        {
          id: 14,
          name: "children2",
          image_url: "https://static.refined-x.com/static/avatar.jpg",
          mate: [
            {
              id: 15,
              name: "mate",
              image_url: "https://static.refined-x.com/static/avatar.jpg",
            },
          ],
          children: [
            {
              id: 16,
              name: "grandchild",
              image_url: "https://static.refined-x.com/static/avatar.jpg",
              mate: [
                {
                  id: 17,
                  name: "mate2",
                  image_url: "https://static.refined-x.com/static/avatar.jpg",
                },
              ],
            },
            {
              id: 18,
              name: "grandchild2",
              image_url: "https://static.refined-x.com/static/avatar.jpg",
            },
            {
              id: 19,
              name: "grandchild3",
              image_url: "https://static.refined-x.com/static/avatar.jpg",
            },
          ],
        },
        {
          id: 20,
          name: "children3",
          image_url: "https://static.refined-x.com/static/avatar.jpg",
        },
      ],
    });

    const clickNode = (node) => {
      console.log(node);
    };

    return {
      treeData,
      clickNode,
    };
  },
};
</script>
