
<template>
  <!-- Page header with logo and tagline-->
  <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Selamat datang di halaman Blog!</h1>
                <p class="lead mb-0">
                  Menampilkan postingan dari 
                  <strong v-if="dataPost.user">{{ dataPost.user.name }}</strong>
                  <strong v-else>semua pengguna</strong>
                  <strong v-if="dataPost.query"> dengan kata kunci pencarian {{ dataPost.query }}</strong>
                </p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Nested row for non-featured blog posts-->
                <div v-if="dataPost.rows != null && dataPost.rows.length > 0">
                  <div class="row">
                      <PostCard v-for="post in dataPost.rows" :data="post"/>
                  </div>
                  <!-- Pagination-->
                  <nav aria-label="Pagination">
                      <hr class="my-0" />
                      <paginate
                        v-model="pagePost"
                        :page-count="countPost"
                        :click-handler="loadData"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination justify-content-center my-4'"
                      >
                      </paginate>
                  </nav>
                </div>
                <div v-else>
                  Tidak menemukan apapun
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Pencarian</div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                          <select class="form-select" v-model="searchPost.user">
                            <option :value="null" selected>Semua Pengguna</option>
                            <option v-for="user in dataUser" :value="user">{{ user.name }}</option>
                          </select>
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control" type="text" v-model="searchPost.query" placeholder="Masukan kata kunci..." aria-label="Enter search term..." aria-describedby="button-search" />
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-secondary" v-on:click="resetData" type="button">Reset</button>
                            <button class="btn btn-primary" style="margin-left:5px" v-on:click="loadData(1)" type="button">Cari !</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { ref, onBeforeMount } from 'vue';
import PostCard from '../components/PostCard.vue';
import paginate from 'vuejs-paginate-next';

export default {
    components: {
      PostCard,
      paginate
    },
    setup() {
      const dataUser      = ref(null);
      const searchPost    = ref({
        user  : null,
        query : null
      });
      const dataPost      = ref({
        user  : null,
        query : null,
        rows  : null
      });
      const limitPost     = ref(6);
      const pagePost      = ref(1);
      const countPost     = ref(0);

      const loadDataUser = () => {
        fetch('https://jsonplaceholder.typicode.com/users')
        .then((response) => response.json())
        .then((json) => {
          dataUser.value = json
        });
      }

      const loadData = (page = 1) => {
        let userId  = searchPost.value.user ? searchPost.value.user.id : null;
        let query   = searchPost.value.query;
        
        dataPost.value.user  = searchPost.value.user
        dataPost.value.query = query

        fetch('https://jsonplaceholder.typicode.com/posts?_expand=user' +
          '&_page=' + page + 
          '&_limit=' + limitPost.value +
          ( userId ? ( '&userId=' + userId ) : '' ) +
          ( query ? ( '&q=' + query ) : '' )
        )
        .then((response) => {
          countPost.value = Math.ceil(response.headers.get('x-total-count') / limitPost.value)
          response.json().then((json) => {
            dataPost.value.rows = json
          })
        })
      };

      const resetData = () => {
        searchPost.value.user = null
        searchPost.value.query = null
        loadData(1)
      }

      onBeforeMount(() => {
        loadDataUser()
        loadData()
      })

      return { 
        resetData, 
        loadData, 
        searchPost, 
        dataUser,
        dataPost,
        pagePost,
        countPost
      }
    },
}
</script>
