<template>    
    <footer class="fixed-bottom py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Lukman El Hakim 2023</p></div>
    </footer>
</template>