<template>
    <div class="col-6">
        <div class="card mb-4">
           <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
           <div class="card-body">
               <div class="small text-muted">{{ data.user.name }}</div>
               <h2 class="card-title h4">{{ data.title }}</h2>
               <p class="card-text">{{ data.body.substring(0, 200) }}.</p>
               <a class="btn btn-primary" href="#!">Selengkapnya →</a>
           </div>
       </div>
    </div>
</template>
<script>
export default {
    props: {
        data : Object
    }
}
</script>