<script setup>
    import { RouterLink, RouterView } from "vue-router";
    import Navbar from "./components/Navbar.vue";
    import Footer from "./components/Footer.vue";
</script>

<template>
    <!-- Responsive navbar-->
    <Navbar/>
    
    <!-- Content -->
    <RouterView/>
    
    <!-- Footer-->
    <Footer/>
</template>

<style scoped></style>
